#top_header
  .container 
    .row
      .col-xs-6
        .opening_hours{style: 'padding-top: 14px;'}
          %p OPENING HOURS : MON - FRI <span class="light_grey"> 7pm - 10pm</span>, WEEKENDS <span class="light_grey">COMING SOON</span>
      .col-xs-6
        .social_media.float_right
          %ul
            %li{style: 'border-left: solid #292929 1px;'}
              %i.fa.fa-facebook
            %li
              %i.fa.fa-twitter
            %li
              %i.fa.fa-instagram
            %li
              %i.fa.fa-youtube
#main_nav
  .container
    .row
      .col-xs-3
        %h2.float_left.logo
          = link_to 'URBAN FUTSAL', 'index.html'
      .col-xs-9
        .nav_container.float_right
          %ul.main_nav
            %li{class: "#{'actives' if current_page.url == '/about.html'}"}
              = link_to 'ABOUT', '/about.html'
            %li{class: "#{'actives' if current_page.url == '/free_agents.html'}"}
              = link_to 'FREE AGENTS', '/free_agents.html'
            %li.dropdown-toggle{class: "#{'actives' if current_page.url == '/team_registration.html'}"}
              = link_to 'TEAM REGISTRATION', '/team_registration.html'
            %li SCHEDULE
            %li{class: "#{'actives' if current_page.url == '/standings.html'}"}
              = link_to 'STANDINGS', '/standings.html'
            %li{class: "#{'actives' if current_page.url == '/rules.html'}"} 
              = link_to 'RULES', '/rules.html'
            %li{class: "#{'actives' if current_page.url == '/contact.html'}"}
              = link_to 'CONTACT', '/contact.html'


    .clear