<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Urban Futsal" %></title>
    
    <%= stylesheet_link_tag "all" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <%= javascript_include_tag  "all" %>



    <script type="text/javascript">
    $(document).ready(function() {
        $('#submit_btn').on('click', function(){
          var post_data, proceed, user_email, user_message, user_name, user_phone;

          user_name = $("input[name=name]").val();
          user_email = $("input[name=email]").val();
          user_phone = $("input[name=phone]").val();
          user_message = $("textarea[name=message]").val();
          proceed = true;
          if (user_name === "") {
            $("input[name=name]").css("border-color", "red");
            proceed = false;
          }
          if (user_email === "") {
            $("input[name=email]").css("border-color", "red");
            proceed = false;
          }
          if (user_phone === "") {
            $("input[name=phone]").css("border-color", "red");
            proceed = false;
          }
          if (user_message === "") {
            $("textarea[name=message]").css("border-color", "red");
            proceed = false;
          }
          if (proceed) {
            post_data = {
              userName: user_name,
              userEmail: user_email,
              userPhone: user_phone,
              userMessage: user_message
            };
            $.post("contact_me_test.php", post_data, (function(response) {
              var output;
              if (response.type === "error") {
                output = "<div class=\"error\">" + response.text + "</div>";
              } else {
                output = "<div class=\"success\">" + response.text + "</div>";
                $('#contact-form-container').fadeOut(function(e){
                  $('#form-success-message').fadeIn();
                });
                $("#contact_form input").val("");
                $("#contact_form textarea").val("");
              }
              $("#result").hide().html(output).slideDown();
            }), "json");
          }
        });
    });
    </script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css", rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  
  <body class="<%= page_classes %>">
    <%= partial 'layouts/header' %>
    <%= yield %>
    <%= partial 'layouts/footer' %>
  </body>
</html>