.about_top_header_image_container
.about_content_container
  .container
    %br
    %br
    %br
    .about_content_wrapper
      .left_content.float_left
        .row
          .col-xs-5
            .image_container{style: 'border: solid #cfcfcf 1px; height: 200px;'}
              %i.fa.fa-play-circle-o{style: 'position: absolute; margin-left: 100px; margin-top: 60px; font-size: 80px; color: white;'}
              = image_tag 'about_us_main_image.jpg', style: 'width: 274px; height: 200px;'

          .col-xs-7
            %h4 WHO WE ARE
            %p We are an indoor futsal facility located near Silverlake / Downtown LA.  We strive to promote sports activities at a variety of recreational and competitive levels for the surrounding area.
            %p Our goal is to foster a sense of community through sports and fun activities.
        %br
        %hr
        %br
        %h4 OUR FACILITY
        %p
          Our facility is an impressive classic industrial warehouse event aesthetics with modern artistic sensibilities. The arena is unique with over 10,000+ square feet that provides ample room for the best possible indoor futsal experience. 
        %br
        .row#about-image-gallery
          .col-xs-3
            .image-container
              %a{"data-target" => ".bs-example-modal-lg", "data-toggle" => "modal"}
                %img.image{:src => "images/facility_image_03.jpg", style: 'width: 130x; height: 111px'}
            .modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"} 
              .modal-dialog.modal-lg
                .modal-content
                  = image_tag('facility_image_03.jpg')
          .col-xs-3
            .image-container
              %a{"data-target" => ".bs-example-modal-lg2", "data-toggle" => "modal"}
                %img.image{:src => "images/facility_image_04.jpg", style: 'width: 130x; height: 111px'}
            .modal.fade.bs-example-modal-lg2{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"} 
              .modal-dialog.modal-lg
                .modal-content
                  = image_tag('facility_image_04.jpg')
 

          .col-xs-3
            .image-container
              %a{"data-target" => ".bs-example-modal-lg3", "data-toggle" => "modal"}
                %img.image{:src => "images/facility_image_05.jpg", style: 'width: 130x; height: 111px'}
            .modal.fade.bs-example-modal-lg3{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"} 
              .modal-dialog.modal-lg
                .modal-content
                  = image_tag('facility_image_05.jpg')
 
          .col-xs-3
            .image-container
              %a{"data-target" => ".bs-example-modal-lg4", "data-toggle" => "modal"}
                %img.image{:src => "images/facility_image_06.jpg", style: 'width: 130x; height: 111px'}
            .modal.fade.bs-example-modal-lg4{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"} 
              .modal-dialog.modal-lg
                .modal-content
                  = image_tag('facility_image_06.jpg')
 
        %br
        %hr
        %br
        %h4 WHAT IS FUTSAL?
        %br
        .row
          .col-xs-10
            %p
              Futsal is a variant of association football that is played on a smaller field and mainly played indoors. It can be considered a version of five-a-side football.  
            %br
            %p
              Futsal is a game played between two teams of five players each, one of whom is the goalkeeper. Unlimited substitutions are permitted. Unlike some other forms of indoor football, the game is played on a hard court surface delimited by lines; walls or boards are not used. Futsal is also played with a smaller ball with less bounce than a regular football due to the surface of the pitch. The surface, ball and rules create an emphasis on improvisation, creativity and technique as well as ball control and passing in small spaces.
        %br
        %hr
        %br
        %h4 QUESTIONS?
        %p Please feel free to call us at (213) 533-9828 with any questions you might have about us, our facility, or to just talk futsal.  You can also click this button to shoot us an email with any inquires you might have.  We look forward to speaking with you!
        %br
        %button.btn.btn-info{style: 'padding: 13px 70px 13px 70px;'}
          = link_to 'CONTACT US', 'contact.html', style: 'color: white;'  

      .right_content.float_right
        .header
          %h3 Urban Futsal L.A.
        .content
          %i.fa.fa-home.float_left{style: 'margin-top: 10px;'}
          .address_container{style: 'margin-left:10px; margin-top: 8px; width: 200px; float: left'}
            %p 310 North Madison Avenue Los Angeles, California 90004
          %br
          %br
          %br
          %i.fa.fa-phone.float_left{style: 'margin-top: 4px;'}
          .address_container{style: 'margin-left:10px; width: 200px; float: left'}
            %p (213) 533-9828
          %br
          %br
          %i.fa.fa-envelope-o.float_left{style: 'margin-top: 4px;'}
          .address_container{style: 'margin-left:10px; width: 200px; float: left'}
            %p info@urbanfutsal.la
        %br
        .header
          %h3 Facility
        .content_images
          .image_box.float_left
            = image_tag 'images/soccer1.png'
          .image_box.float_left
            = image_tag 'images/soccer2.png'
          .image_box.float_left
            = image_tag 'images/soccer3.png'
          .image_box.float_left
            = image_tag 'images/soccer4.png'
          .clear
        .clear
        %br
        %br
      .clear
      %br
      %br
