#banner
  .container
    .col-xs-12.pull-right
      .banner-content-container.pull-right
        #banner-main-header
          %h1 January 2015 Tournament 
        %br
        %p $1000 Cash Prize For The Winning Team
        .button-container
          %a.btn.btn-success.btn-lg{href: '/team_registration.html', style: 'margin-right: 20px;'}
            REGISTER NOW!
#winter-registraion-bar
  .container
    .col-xs-8
      %h1 Winter Registration Now Open
      %p Starts January 19th
    .col-xs-4{style: 'padding-top: 30px;'}
      %a.pull-right.btn.btn-primary.btn-lg{href: '/team_registration.html'}
        Team Registration
      %a.pull-right.btn.btn-success.btn-lg{href: '/free_agents.html', style:'margin-right: 20px;'}
        Free Agent

#home_content_container
  %br
  %br
  .container
    .row
      .col-xs-2
        .popular_classes_container.float_left
          %h3 
            CHECK US OUT
          .grey_line{style: 'margin-bottom: 10px;'}
          %p{style: 'color: #cfcfcf; font-weight: bold;'} Urban Futsal L.A. is the premier indoor futsal stadium located near Silverlake / Downtown LA

      .col-xs-10
        .popular_classes
          .row
            .col-xs-4
              .info_box_container.float_left
                .image_container 
                  = image_tag 'images/futsal-2.png', style: 'width: 100%;'
                .content_container
                  %h3 ABOUT US
                  %p We are an indoor futsal facility located near Silverlake / Downtown LA We strive to promote.....
                  %br
                  %button.btn.btn-info
                    = link_to 'Learn More', 'about.html'
            .col-xs-4
              .info_box_container.float_left
                .image_container 
                  = image_tag 'images/futsal.jpg', style: 'width: 100%;'
                .content_container
                  %h3 TEAM REGISTRATION
                  %p Registering is easy! Sign Up For Our Men's 5v5 or Our Coed 5v5.
                  %br
                  %button.btn.btn-info
                    = link_to 'Registration', 'team_registration.html'
            .col-xs-4
              .info_box_container.float_left
                .image_container 
                  = image_tag 'images/futsal-ball.png', style: 'width: 100%;'
                .content_container
                  %h3 CONTACT US
                  %p Have a Question About Our Facility or How To Get Started Playing in Our League?
                  %br
                  %button.btn.btn-info 
                    = link_to 'Contact Us', 'contact.html'
        .clear
  %br

  .facility_container
    .container 
      .row
        .col-xs-2
          .facility_green_box
            %h3 FACILITY
            .black_line{style: 'margin-bottom: 10px;'}
            %p{style: 'color: #000;'} The arena is unique with over 10,000+ square feet.
            / Controls
            %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic", role: "button"}
              %i.fa.fa-angle-left
            %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic", role: "button"}
              %i.fa.fa-angle-right
        .col-xs-10
          #carousel-example-generic.carousel.slide{"data-ride" => "carousel", "data-interval" => "12000"}
            / Wrapper for slides
            .carousel-inner
              .item.active
                .row
                  .col-xs-4
                    .info_box_container.float_left
                      = image_tag 'facility_image_09.jpg'
                  .col-xs-8
                    .content_container.float_right
                      %h3 Our Facility Is An Impressive Classic Industrial Warehouse
                      %p Our facility is an impressive classic industrial warehouse event aesthetics with modern artistic sensibilities. The arena is unique with over 10,000+ square feet that provides ample room for the best possible indoor futsal experience.
              .item
                .row
                  .col-xs-4
                    .info_box_container.float_left
                      = image_tag 'images/facility_image02.jpg'
                  .col-xs-8
                    .content_container.float_right
                      %h3 Featuring Graffiti Art From World Renown Artists
                      %p Internationally known artists from LA and around the world showcase their work within our unique warehouse canvas.  Rotating original pieces serve as the backdrop for a time until replaced by new artwork.
              .item
                .row
                  .col-xs-4
                    .info_box_container.float_left
                      = image_tag 'dj_faciliity.jpg'
                  .col-xs-8
                    .content_container.float_right
                      %h3 Mixing Sound, Art, And Technology
                      %p Play futsal with friends while enjoying street art, music, and social media.  Emerging DJs have been known to drop in and spin music on select nights.  Share your picture and video highlights from the game taken at multiple angles.
      .clear
  %br
  %br
  %br
%a{href: '#', id: 'uparrow'}
  %i.glyphicon.glyphicon-arrow-up
  %p back to top
