#banner
  .container
    .banner_content.float_right
      %h2
        OPTIMIZE
      %h1
        YOUR HEALTH
      #line
      %p{style: 'width: 600px;'} Because the cheetah in the woods are the franks of furthers for future sakes and funny feelings.  There are more than one cheetah in the larsons cook book that can be on your birthday.
#home_content_container
  %br
  %br
  .container
    .popular_classes_container.float_left
      %h3 
        POPULAR CLASSES
      .grey_line
      %p There are trees in the beach that foxes cannot be and the time.
      %br
      .arrow_box.float_left{style: 'margin-right: 10px;'}
        %i.fa.fa-angle-left
      .arrow_box.float_left
        %i.fa.fa-angle-right
    .popular_classes.float_right
      .info_box_container.float_left
        .image_container 
          = image_tag 'images/foot_on_ball.jpg', style: 'width: 335px; height: 200px;'
          .image_content_container
            6 PM - 8 PM
        .content_container
          %h3 BODY COMBAT
          %p Before we make a big system change there are visual things and instructional things.
      .info_box_container.float_left{style: 'margin-left: 13px;'}
        .image_container 
          = image_tag 'images/2013-nike-soccer-camps-34.jpg', style: 'width: 335px; height: 200px;'
          .image_content_container
            6 PM - 8 PM
        .content_container
          %h3 BODY COMBAT
          %p Before we make a big system change there are visual things and instructional things.
      .info_box_container.float_right
        .image_container 
          = image_tag 'images/72_ft_supersoccerstars03.jpg', style: 'width: 335px; height: 200px;'
          .image_content_container
            6 PM - 8 PM
        .content_container
          %h3 BODY COMBAT
          %p Before we make a big system change there are visual things and instructional things.
    .clear
  %br
  .facility_container
    .container 
      .facility_green_box.float_left{style: 'margin-right: 10px;'}
        %h3
          FACILITY
        .black_line
        .arrow_box.float_left{style: 'margin-right: 10px;'}
          %i.fa.fa-angle-left
        .arrow_box.float_left
          %i.fa.fa-angle-right
      .info_box_container.float_left
        = image_tag 'images/indoor-soccer-facility-1.jpg', style: 'width: 335px; height: 220px;'
      .content_container.float_right
        %h3 Our Facility Comes Standard With The Most Stuff.
        %p They say the competition is stiff but I am never getting it in again because I like to see the rainbow over the moon.  But I'm afraid its not gonna make a difference when I.  They say the competition is stiff but I am never getting it in again because I like to see the rainbow over the moon.  But I'm afraid its not gonna make a difference when I.
        = link_to 'Learn More', '#'
      .clear
  %br
  .container
    .testimonials_container
      %h3 WHAT PEOPLE SAY
      %h3{style: 'color: #8A8A8A'} "Cinderlla Man music is my time machine lighting struck it and flipped the world upside down and made it rain upwards were in the future to the present."
      John Doe
  %br
  %br
  %br