#banner
  .container
    .banner_content.float_right
      %h2
        OPTIMIZE
      %h1
        YOUR HEALTH
      #line
      %p{style: 'width: 600px;'} We are an indoor futsal facility located near Silverlake / Downtown LA.  We strive to promote sports activities at a variety of recreational and competitive levels for the surrounding area.  Our goal is to foster a sense of community through sports and fun activities.
#home_content_container
  %br
  %br
  .container
    .row
      .col-xs-2
        .popular_classes_container.float_left
          %h3 
            POPULAR CLASSES
          .grey_line
          %p There are trees in the beach that foxes cannot be and the time.
      .col-xs-10
        .popular_classes
          .row
            .col-xs-4
              .info_box_container.float_left
                .image_container 
                  = image_tag 'images/foot_on_ball.jpg'
                  .image_content_container
                    6 PM - 8 PM
                .content_container
                  %h3 BODY COMBAT
                  %p Before we make a big system change there are visual things and instructional things.
            .col-xs-4
              .info_box_container.float_left
                .image_container 
                  = image_tag 'images/foot_on_ball.jpg'
                  .image_content_container
                    6 PM - 8 PM
                .content_container
                  %h3 BODY COMBAT
                  %p Before we make a big system change there are visual things and instructional things.
            .col-xs-4
              .info_box_container.float_left
                .image_container 
                  = image_tag 'images/foot_on_ball.jpg'
                  .image_content_container
                    6 PM - 8 PM
                .content_container
                  %h3 BODY COMBAT
                  %p Before we make a big system change there are visual things and instructional things.
        .clear
  %br

  .facility_container
    .container 
      .row
        .col-xs-2
          .facility_green_box
            %h3 Facility
            .black_line
            / Controls
            %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic", role: "button"}
              %i.fa.fa-angle-left
            %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic", role: "button"}
              %i.fa.fa-angle-right
        .col-xs-10
          #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
            / Wrapper for slides
            .carousel-inner
              .item.active
                .row
                  .col-xs-4
                    .info_box_container.float_left
                      = image_tag 'images/indoor-soccer-facility-1.jpg'
                  .col-xs-8
                    .content_container.float_right
                      %h3 Our Facility Comes Standard With The Most Stuff.
                      %p They say the competition is stiff but I am never getting it in again because I like to see the rainbow over the moon.  But I'm afraid its not gonna make a difference when I.  They say the competition is stiff but I am never getting it in again because I like to see the rainbow over the moon.  But I'm afraid its not gonna make a difference when I.
                      = link_to 'Learn More', '#'
              .item
                .row
                  .col-xs-4
                    .info_box_container.float_left
                      = image_tag 'images/indoor-soccer-facility-1.jpg'
                  .col-xs-8
                    .content_container.float_right
                      %h3 Our Facility Comes Standard With The Most Stuff.
                      %p They say the competition is stiff but I am never getting it in again because I like to see the rainbow over the moon.  But I'm afraid its not gonna make a difference when I.  They say the competition is stiff but I am never getting it in again because I like to see the rainbow over the moon.  But I'm afraid its not gonna make a difference when I.
                      = link_to 'Learn More', '#'
              .item
                .row
                  .col-xs-4
                    .info_box_container.float_left
                      = image_tag 'images/indoor-soccer-facility-1.jpg'
                  .col-xs-8
                    .content_container.float_right
                      %h3 Our Facility Comes Standard With The Most Stuff.
                      %p They say the competition is stiff but I am never getting it in again because I like to see the rainbow over the moon.  But I'm afraid its not gonna make a difference when I.  They say the competition is stiff but I am never getting it in again because I like to see the rainbow over the moon.  But I'm afraid its not gonna make a difference when I.
                      = link_to 'Learn More', '#'
      .clear
  %br
  .container
    .testimonials_container
      %h3 WHAT PEOPLE SAY
      %h3{style: 'color: #8A8A8A'} "Cinderlla Man music is my time machine lighting struck it and flipped the world upside down and made it rain upwards were in the future to the present."
      John Doe
  %br
  %br
  %br