#banner
  .container{style: 'position: relative; overflow: hidden'}
    .banner_content.float_right
      %h2
        URBAN
      %h1
        FUTSAL L.A.
      #line
      %p{style: 'width: 600px;'} We are an indoor futsal facility located near Silverlake / Downtown LA.  We strive to promote sports activities at a variety of recreational and competitive levels for the surrounding area.  Our goal is to foster a sense of community through sports and fun activities.
#home_content_container
  %br
  %br
  .container
    .row
      .col-xs-2
        .popular_classes_container.float_left
          %h3 
            CHECK US OUT
          .grey_line{style: 'margin-bottom: 10px;'}
          %p{style: 'color: #cfcfcf; font-weight: bold;'} Urban Futsal L.A. is the premier indoor futsal stadium located near Silverlake / Downtown LA

      .col-xs-10
        .popular_classes
          .row
            .col-xs-4
              .info_box_container.float_left
                .image_container 
                  = image_tag 'images/foot_on_ball.jpg'
                .content_container
                  %h3 ABOUT US
                  %p We are an indoor futsal facility located near Silverlake / Downtown LA We strive to promote.....
                  %button.btn.btn-info
                    = link_to 'Learn More', 'about.html'
            .col-xs-4
              .info_box_container.float_left
                .image_container 
                  = image_tag 'images/registration_image.png'
                .content_container
                  %h3 TEAM REGISTRATION
                  %p Registering is easy! Sign Up For Our Men's 5v5 or Our Coed 5v5.
                  %br
                  %button.btn.btn-info
                    = link_to 'Registration', 'team_registration.html'
            .col-xs-4
              .info_box_container.float_left
                .image_container 
                  = image_tag 'images/contact_image.png'
                .content_container
                  %h3 CONTACT US
                  %p Have a Question About Our Facility or How To Get Started Playing in Our League?
                  %br
                  %button.btn.btn-info 
                    = link_to 'Contact Us', 'contact.html'
        .clear
  %br

  .facility_container
    .container 
      .row
        .col-xs-2
          .facility_green_box
            %h3 FACILITY
            .black_line{style: 'margin-bottom: 10px;'}
            %p{style: 'color: #000;'} The arena is unique with over 10,000+ square feet.
            / Controls
            %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic", role: "button"}
              %i.fa.fa-angle-left
            %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic", role: "button"}
              %i.fa.fa-angle-right
        .col-xs-10
          #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
            / Wrapper for slides
            .carousel-inner
              .item.active
                .row
                  .col-xs-4
                    .info_box_container.float_left
                      = image_tag 'images/facility_image1.png'
                  .col-xs-8
                    .content_container.float_right
                      %h3 Our Facility Is An Impressive Classic Industrial Warehouse
                      %p Our facility is an impressive classic industrial warehouse event aesthetics with modern artistic sensibilities. The arena is unique with over 10,000+ square feet that provides ample room for the best possible indoor futsal experience.
              .item
                .row
                  .col-xs-4
                    .info_box_container.float_left
                      = image_tag 'images/facility_image2.png'
                  .col-xs-8
                    .content_container.float_right
                      %h3 Our Facility Is An Impressive Classic Industrial Warehouse
                      %p Our facility is an impressive classic industrial warehouse event aesthetics with modern artistic sensibilities. The arena is unique with over 10,000+ square feet that provides ample room for the best possible indoor futsal experience.
              .item
                .row
                  .col-xs-4
                    .info_box_container.float_left
                      = image_tag 'images/facility_image3.png'
                  .col-xs-8
                    .content_container.float_right
                      %h3 Our Facility Is An Impressive Classic Industrial Warehouse
                      %p Our facility is an impressive classic industrial warehouse event aesthetics with modern artistic sensibilities. The arena is unique with over 10,000+ square feet that provides ample room for the best possible indoor futsal experience.
      .clear
  %br
  %br
  %br
%a{href: '#', id: 'uparrow'}
  %i.glyphicon.glyphicon-arrow-up
  %p back to top